body {
  margin: 0;
  padding: 0 5%;
  height: 100vh;
  background-color: #3C3C3B;
  color: #FFF6EF;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; }
